<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body layout:fragment="accordion(accordionId)">

<!--h1 th:text="${modalHeader}"></h1-->

<div class="row row-custom">
    <!-- div class="accordion" id="accordion2"-->
    <div class="accordion-group">
        <div class="accordion-heading">
            <div layout:fragment="accordionHeader">
                Header
            </div>
        </div>
        <div th:id="${accordionId}" class="accordion-body collapse in">
            <div class="accordion-inner accordion-inner-custom">

                <div layout:fragment="accordionContent">
                    <!-- ============================================================================ -->
                    <!-- This content is only used for static prototyping purposes (natural templates)-->
                    <!-- and is therefore entirely optional, as this markup fragment will be included -->
                    <!-- from "fragments/header.html" at runtime.                                     -->
                    <!-- ============================================================================ -->
                    <h1>Static content for prototyping purposes only</h1>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
                      Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
                      Phasellus et placerat elit.
                    </p>
                </div>
            </div> <!-- End accordion-inner -->
        </div> <!-- End accordion body -->

    </div> <!-- End accordion group -->
    <!-- /div--> <!-- End accordion -->
</div> <!-- End accordion row -->

</body>
</html>