<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body layout:fragment="gallery(galleryId)">

    <div class="row clearfix row-custom">
        <ul class="gallery-post-grid holder">

            <!-- Gallery Item -->
            <li ng-repeat="item in images track by $index" class="span2 gallery-item" data-id="id-{{item.id}}" data-type="illustration" style="height:139px;">
                <span ng-if="item.directory === false" id="iconsContainer_{{item.id}}" class="gallery-hover-6col hidden-phone hidden-tablet">
                    <span ng-if="!item.percent" class="gallery-icons">
                        <a ng-href="{{'/image/' + item.id}}" class="item-zoom-link lightbox" title="{{item.fileName}}" th:rel="'prettyPhoto[' + ${galleryId} + ']'"></a>
                        <a href="" ng-click="compareImg(item.id)" class="item-details-link"></a>
                    </span>
                    <span ng-if="item.percent" class="gallery-icons">
                        <a ng-href="{{'/image/' + item.id + '?compareTo=' + targetImage.id}}" class="item-zoom-link lightbox" style="margin-left:47px" title="{{item.percent + '%'}}" th:rel="'prettyPhoto[' + ${galleryId} + ']'"></a>
                    </span>
                </span>
                <a ng-href="{{item.directory ? '' : '/image/' + item.id}}" ng-click="item.directory ? browse(item.id) : ''">
                    <img ng-if="item.directory === false" alt="" ng-src="/image/{{item.id}}" sb-load="onImgLoad($event)" id="image_{{item.id}}" />
                    <img ng-if="item.directory === true" alt="" ng-src="../img/{{item.fileName ? 'folder-red.png' : 'folder-up.png'}}" />
                </a>
                <h4 ng-if="item.percent" style="text-align: center;">{{item.percent + '%'}}</h4>
                <span ng-if="!item.percent" class="project-details">{{item.percent ? item.percent + '%' : (item.fileName ? item.fileName : '...')}}</span>

            </li>

        </ul>
    </div>

</body>

</html>