<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

    <title>Image Comparator Demo</title>

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="../css/prettyPhoto.css" rel="stylesheet" />
    <link href="../css/custom-styles.css" rel="stylesheet" />
    <link href="../css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>


</head>
<body ng-app="ImageComparator">

    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container main-container">

    <div class="row header"><!-- Begin Header -->

        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <!-- img src="../img/SURF.png" alt="" /-->
            <h3>S.U.R.F. - Image Comparison</h3>
        </div>

        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">

            <ul class="nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a href="/">Demo</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/batchupload' ? 'active':''}"><a href="batchupload">Batch Upload</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/batchcomparison' ? 'active':''}"><a href="batchcomparison">Batch Comparison</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/about' ? 'active':''}"><a href="about">About</a></li>
            </ul>

            </div>
        </div>

    </div><!-- End Header -->

    <div layout:fragment="content">
        <h2>The page content</h2>
    </div>

    </div> <!-- End Container -->

    <!-- Footer Area
    ================================================== -->
    <!--  div class="footer-container">
        <div class="container">

            <div class="row">
            </div>

        </div>
    </div-->

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.8/angular.min.js"
        th:src="@{/webjars/angularjs/1.4.8/angular.min.js}"></script>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/jquery.quicksand.js"></script>
    <script src="../js/jquery.custom.js"></script>

    <script src="../js/app.js"></script>

</body>
</html>