<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="_pagebase">
<head></head>
<body>

<div layout:fragment="content">

    <div id="onscreenProgress" style="display:none;">
        <div id='onscreenOverlay' class="onscreen-overlay">
        </div>

        <div class="onscreen-loader">
            <img src="../img/prettyPhoto/default/loader.gif" width="35px;" height="35px;"></img>
        </div>

        <div id="onscreenText" class="onscreen-text"></div>
    </div>

    <div class="row ng-cloak row-custom" ng-controller="BatchComparisonController" ng-cloak="">

    <form ng-submit="startComparison()" class="span10">
        <div class="form-group alert alert-info">
            <label class="sr-only">Hit the Compare button to start batch image comparison</label>
        </div>
        <div id="availableForComparisonCount" class="form-group alert" th:classappend="${availableForComparisonCount > 0 ? 'alert-success':'alert-warning'}">
            <label class="sr-only"><span th:text="${availableForComparisonCount}"></span> new image(s) are available for comparison</label>
        </div>
        <div ng-show="inProgress" class="progress progress-info progress-striped">
            <div class="bar" style="width: {{progress}}%;"></div>
        </div>
        <div ng-if="totalImages" class="form-group alert alert-success">
            Processed {{totalProcessed}}<br/>
            Errors {{errorsCount}}<br/>
            Total images {{totalImages}}
        </div>
        <button ng-disabled="inProgress" type="submit" class="btn btn-primary">Compare</button>
        &nbsp;<button ng-show="inProgress" type="button" class="btn btn-primary" ng-click="stopComparison()">Stop</button>
        <br /><br /><br /><br />
        <div class="form-group alert alert-info">
            <label class="sr-only">In order to perform real time comparison with new image you need to run neo4j node grouping first</label>
        </div>
        <div ng-if="numberOfGroups" class="form-group alert alert-success">
            Groups created: {{numberOfGroups}}<br/>
            Main nodes: {{numberOfMainNodes}}
        </div>
        <button ng-disabled="inProgress" type="button" class="btn btn-primary" ng-click="startNodeGrouping()">Run node grouping</button>
    </form>

    </div>

</div> <!-- End page content -->

</body>
</html>