<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="_pagebase">
<head></head>
<body>

<div layout:fragment="content">

    <div class="row ng-cloak row-custom" ng-controller="BatchUploadController" ng-cloak="">

    <form ng-submit="startRefresh()" class="span10">
        <div class="form-group alert alert-info">
            <label class="sr-only">Copy new images to root folder (<span th:text="${rootPath}"></span>) and hit the Refresh button.</label>
        </div>
        <div ng-show="inProgress" class="progress progress-info progress-striped">
            <div class="bar" style="width: {{progress}}%;"></div>
        </div>
        <div ng-if="totalImages" class="form-group alert alert-success">
            New images added {{totalAdded}}<br/>
            Total images {{totalImages}}
        </div>
        <button ng-disabled="inProgress" type="submit" class="btn btn-primary">Refresh</button>
    </form>

    </div>

</div> <!-- End page content -->

</body>
</html>