.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.accordion-inner-custom {
    padding-right: 0px;
    padding-left: 10px;
}

.row-custom {
    margin-bottom: 0px;
}

.accordion-title {
    font-size: 140%;
}

.onscreen-overlay {
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 30;
}

.onscreen-loader {
    position: fixed;
    left: 50%;
    top: 43%;
    z-index: 20;
}

.onscreen-text {
    position: fixed;
    left: 49%;
    top: 50%;
    z-index: 20;
    color: black;
    font-size: 300%;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}